* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

article {
    display: flex;
    justify-content: center;
}

section {
    width: 300px;
    float: left;
    margin-left: 3%;
    background-color: grey;
    border: 1px solid black;
}

h3 {
    position: relative;
    width: 30%;
    left: 70%;
    border: 1px solid black;
    text-align: center;
}


#chicken {
    background-color: salmon;
}

#beef {
    background-color: red;
    color: white;
}

#sushi {
    background-color: yellow;
}

p {
    font-style: italic;
    padding: 3%;
}

@media (min-width: 992px) {

}

@media (min-width: 768px) and (max-width: 991px){

    article {
        display: inline;
    }
    
    #md {
        clear: left;
        margin-top: 3%;
        width: 630px;
    }
}

@media (max-width: 767px){

    article {
        display: inline;
    }

    #md {
        clear: left;
        margin-top: 3%;
    }

    #sm {
        clear: left;
        margin-top: 3%;
    }
}