* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

section {
    background-color: grey;
}

h2 {
    border: 1px solid black;
}

#chicken {
    background-color: salmon;
}

#chicken {
    background-color: red;
}

#sushi {
    background-color: yellow;
}

p {
    font-style: italic;
    border: 1px solid black;
}